* {
  box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

:root {
	--black: #31363F;
	--blue: #5755FE;
	--white: #EFEFEF;
	--pink: #F72798;
}

a {
	text-decoration: none;
	color: var(--white);
}

.active {
	color: var(--pink) !important;
}

.blue-color {
	color: var(--blue);
}

.black-color {
	color: var(--black);
}

header {
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0; left: 0;
	padding: 0 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header img {
	height: calc(100% - 20px);
}

header h1 {
	font-family: "Tac One", sans-serif;
	font-size: 60px;
	color: white;
	background-image: linear-gradient(var(--pink), var(--blue));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

header ul {
	list-style: none;
	padding: 0;
	display: flex;
	color: var(--white);
}

header ul li {
	margin: 0 15px;
	padding: 3px 7px;
	cursor: pointer;
}

.banner {
	width: 100%;
	height: 100vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(90deg, var(--black) 72%, var(--blue) 28%);
}

.banner-body {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	justify-content: space-between;
}

.banner-body > div {
	flex: 1;
	flex-basis: 200;
}

.owner-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.owner-detail p {
	margin: 0;
	font-size: 17px;
	margin-bottom: 10px;
}

.owner-detail h1 {
	font-size: 50px;
	margin: 0;
}

.owner-detail .name {
	color: var(--pink);
}

.owner-detail h2 {
	margin: 5px 0;
	font-size: 17px;
	font-weight: 500;
}

.owner-detail .city {
	color: #FC6736;
}

.owner-detail .category {
	margin-top: 20px;
}

.banner button {
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 20px;
	font-size: 15px;
	padding: 12px 20px;
	border-radius: 5px;
	color: var(--white);
	background-color:var(--blue);
	box-shadow: -1px 5px 10px #2228;
	transition: all .1s;
}

.banner button:hover {
	box-shadow: -1px 5px 10px #222;
}

.banner .image-side {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .image-container {
	width: 350px;
	height: 350px;
	overflow: hidden;
	border-radius: 50%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
}

.image-side .banner-image-outer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 10px solid var(--blue);
}

.image-container .banner-image-outer .image {
	width: 570px;
	margin-top: 30px;
	margin-left: 10px;
}